#todo-list {
    border: 1px solid #202020;
    text-align: left;
    min-width: 40%;
    min-height: 50%;
    padding-left: 2vh;
    list-style: none;
    max-height: 60vh;
    margin: 0;
    overflow: auto;
    padding: 0;
    text-indent: 10px;
}