li {
    line-height: 6vh;
}
  
li:nth-child(even){
    background:rgb(230, 230, 230);
}

li:hover {
    background: rgb(189, 180, 180)
}

#check-image {
    max-width: 4vh;
    max-height: 4vh;
    margin-right: 2vh;
    margin-top: 1vh;
}

#delete-image {
    max-width: 4vh;
    max-height: 4vh;
    margin-left: 2vh;
    float: right;
    margin-right: 2vh;
    margin-top: 1vh;
}

.finished-todo {
    text-decoration: line-through;
}